@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);

    user-select: none;
}

.calculator {
    background-color: black;
    /* background-image: linear-gradient(135deg, #f0ff00 10%, #58cffb 100%); */
    height: 83rem;
    width: 50rem;
    border-radius: 5rem;
    padding: 3rem;

    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.247);
}

.screen-box {
    border: 2px solid crimson;
    height: 20rem;
    color: whitesmoke;
    text-align: right;
    padding: 1rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    word-break: break-all;
}

.screen-current {
    font-size: 7rem;
}

.buttons-box {
    padding: 2rem 0;

    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 1rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.btn {
    background-color: rgb(151, 149, 149);
    font-size: 5rem;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    /* display: inline-block; */
    color: white;
    /* display: grid;
    place-items: center; */
    text-align: center;
    line-height: 10rem;
    cursor: pointer;
}

.btn-special {
    background-color: rgb(219, 218, 218);
    color: black;
}
.btn-operant,
.btn-equal {
    background-color: rgb(202, 202, 50);
}

.btn:hover {
    filter: brightness(120%);
}

.btn:focus,
.btn:active {
    filter: brightness(80%);
}

.btn-number-0 {
    grid-column: 1 / span 2;
    width: 21rem;
    border-radius: 5rem;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 40%;
    }
}
@media only screen and (max-height: 800px) {
    html {
        font-size: 40%;
    }
}
